		.head{
			background-color: #6EBBE7;
			font-family: sans-serif;
			color: white;
			padding-bottom: 5px;
			padding-top: 10px;
			padding-left: 0px;
		}
		#logout{
			width: 30px;
			height: 35px;
			padding-bottom: 4px;
		}
		.container-fluid{
			width: 100%;
		}
		#home{
			text-decoration: none;
			color: white;
		}
		.sidebar{
			width: 325px;
			background-color: #6F6F6F;
		    position: fixed;
		    left: 0;
		    top: 57px;
		    height: 100vh;
		    color: #fff;
		    transition: all 0.3s;
		}
		.nav{
			height: 75px;
			padding-bottom: 5px;
			padding-top: 15px;
			padding-left: 10px;
			width: 100%;
			margin: 0px;
		}
		.nav1{
			height: 50px;
			padding-bottom: 2px;
			padding-top: 2px;
			padding-left: 20px;
			background-color: #7B7B7B;
			width: 100%;
			margin: 0px;
		}
		.nav1:hover{
			background-color: #729EB7;
			text-decoration: none;
		}
		.nav2{
			height: 50px;
			padding-bottom: 2px;
			padding-top: 2px;
			padding-left: 20px;
			background-color: #828282;
			width: 100%;
			margin: 0px;
		}
		.nav2:hover{
			background-color: #729EB7;
			text-decoration: none;
		}
		p#nav{
			color: white;
			padding-top: 10px;
		}
		#navhead{
			color: white;
			padding-top: 10px;
		}
		.footer{
			height: 42px;
			background-color: #C4C4C4;
			color: #777777;
			text-align: center;
		}
		.active{
			font-weight: bold;
		}
		#title{
			color: #7A7A7A;
		}
		.content{
			top: 57px;
		}
		.box{
			float: left;
			height: 180px;
			width: 260px;
			color: #828282;
			text-align: center;
			margin-right: 50px;
		}
		.green{
			background-color: #75F289;
		}
		.yellow{
			background-color: #FEE66A;
		}
		.grey{
			background-color: #CDCDCD;
		}
		.blue{
			background-color: #7CC9F5;
		}
		.red{
			background-color: #F88686;
		}
		p#box{
			color: white;
			font-weight: bold;
		}
		.panel{
			float: left;
			width: 1020px;
			background-color: #FAFAFA;
			border-style: solid;
			border-width: 2px;
			border-color: #A1DDFF;
			border-radius: 5px;
			padding-right: 50px;
			padding-left: 50px;
			padding-top: 25px;
			padding-bottom: 25px;
		}
		.panel-timeline{
			float: left;
			width: 1020px;
			background-color: #FAFAFA;
			border-style: solid;
			border-width: 2px;
			border-color: #A1DDFF;
			border-radius: 5px;
			padding-right: 30px;
			padding-left: 30px;
			padding-top: 20px;
			padding-bottom: 10px;
			margin-bottom: 20px;
		}
		img.profile{
			width: 200px;
			height: 200px;
		}
		img.timeline{
			width: 30px;
			height: 30px;
			margin-right: 10px;
			margin-left: 10px;
			margin-bottom: 15px;
			margin-top: 15px;
		}
		label{
			color: #7A7A7A;
		}
		input#submit{
			width: 100px;
		}
		input#reset{
			width: 100px;
		}
		button#submit{
			width: 100px;
		}