@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }
.bg-mahasiswa{
	background-image: url("http://localhost/OnTA/assets/images/mahasiswa.jpg");
	background-position: center;
  	opacity: 0.6;
  	transition: 0.75s;
}
.bg-dosen{
	background-image: url("http://localhost/OnTA/assets/images/dosen.jpg");
	background-position: center;
  	opacity: 0.6;
  	transition: 0.75s;
}
.bg-mahasiswa:hover{
	opacity: 1.0;
}
.bg-dosen:hover{
	opacity: 1.0;
}
.awal{
	width: 300px;
	height: 100px;
	opacity: 0.9;
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
h3{
	color: white;
}
.head{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	width: 100%;
	margin: 0px;
	position: absolute;
	top: 4%;
	left: 0%;
	opacity: 0.8;
}
.foot{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 25px;
	width: 100%;
	margin: 0px;
	position: absolute;
	top: 86%;
  	right: 0%;
  	text-align: right;
  	opacity: 0.8;
}




